[global_config]
  title_hide_sizetext = True
[keybindings]
[profiles]
  [[default]]
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#d45b22:#6c71c4:#93a1a1:#fdf6e3"
    background_darkness = 0.73
    background_type = transparent
    background_image = None
    foreground_color = "#e3d916"
    background_color = "#002b36"
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child0]]]
      position = 65:24
      type = Window
      order = 0
      parent = ""
      size = 802, 478
    [[[child1]]]
      position = 239
      type = VPaned
      order = 0
      parent = child0
    [[[terminal3]]]
      profile = default
      type = Terminal
      order = 1
      parent = child1
    [[[terminal2]]]
      profile = default
      type = Terminal
      order = 0
      parent = child1
[plugins]
